<% provide(:title, @user.firstname) %>
<div class="row">
  <aside class="span4">
    <section>
      
      <h1>
       
        Firstname: <%=@user.firstname %></br>
        Lastname :  <%= @user.lastname %></br>
        Username :  <%= @user.username %></br>
           email :  <%= @user.email %></br>
      </h1>
    </section>
  </aside>

</div>
